/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
    0% {
        inset-inline-start: -16px;
    }

    100% {
        inset-inline-start: -12px;
    }
}

@keyframes big-heart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes sparks {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.like-icon:hover .core {
    fill: var(--color-main);
    transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
    fill: var(--color-main);
    transition-delay: 0.05s;
    transition: fill 0.3s linear;
}

.like-icon:active .core,
.like-icon:active .main-body {
    fill: var(--color-heart-mb);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
    fill: var(--color-heart-mb);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--color-heart-mb);
    transition-delay: 0.3s;
    transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
    fill: var(--color-heart-mb);
    transition-delay: 0.3s;
    transition-delay: fill 0.3s linear;
}

.like-icon.is-liked {
    animation: big-heart 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1 alternate;
}