/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
    0% {
        inset-inline-start: -16px;
    }

    100% {
        inset-inline-start: -12px;
    }
}

@keyframes big-heart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes sparks {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.theme-menu__button {
    transition: opacity 0.5s ease;
}

.theme-menu__button:disabled::before {
    animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
    transform: scalex(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.theme-menu__button:focus-visible::after {
    transform: scalex(1);
  }

.btn-shad {
    transition: box-shadow 0.3s ease;
  }

.like-icon:hover .core {
   transition-delay: 0.03s;
}

.like-icon:hover .main-body {
   transition-delay: 0.3s;
}

.like-icon:hover .core,
.like-icon:hover .main-body
.like-icon:active .core,
.like-icon:active .main-body, 
.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
    transition: fill 0.3 linear;
}

.like-icon.is-liked .main-body {
   transition-delay: 0.06s;
}

.like-icon.is-liked .contour {
    transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
    transform-origin: center;
    animation: big-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s alternate;
}



